# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environments
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# Flask
instance/
.webassets-cache

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Pytest
.cache

# SQL
*.sqlite3
*.db

# Log files
*.log